:host {
  height: 100%;
  background-color: #e3e3e3;
  border-radius: 4px;
  padding: 0 .5em .2em .5em;
  box-shadow: 4px 4px 11px 0 #02020261;
  transition: all .5s;
  min-width: 0;
}

:host:hover {
  box-shadow: 4px 4px 11px 0 rgba(2, 2, 2, 0.53);
}

h4 {
  margin: .5em 0;
  font-size: 1.1em;
}
