:host {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.letter-preview {
  max-width: 50px;
}

.letter-text-field {
  max-width: 2rem;
}

.alphabet-table {
  max-width: 300px;
}

.alphabet-table > tr > td {
  text-align: center;
}

.message-wrapper {
  display: flex;
}

.letter-wrapper {
  width: 30px;
  outline: 1px solid black;
}

.letter-wrapper img {
  max-width: 100%;
}
