<div class="message-wrapper">
  @for (result of message() | decode: alphabet(); track $index) {
    <div class="letter-wrapper">
      @if (result.letter) {
        <span>{{ result.letter }}</span>
      }
      @if (result.URL && !result.letter) {
        <img [src]="result.URL" alt="unknown letter">
      }
    </div>
  }
  <span class="delete-message">
    <button nz-button nzType="primary" (click)="openDialog()">E</button>
  </span>

  <span class="delete-message">
    <button nz-button nzType="primary" (click)="deleteMessage()">X</button>
  </span>
</div>
